In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

from pprint import pprint as pprint
from re import sub
from collections import namedtuple
from urllib2 import urlopen
from bs4 import BeautifulSoup
from datetime import datetime

%matplotlib inline

In [2]:
url = "https://nethouseprices.com/house-prices/london?page=1"
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
# TO-DO: segment HTML downloading into chunks, and see if HTML can be saved to disk, and scraped by BeautifulSoup from disk.
# Also determine how much of the data to use as a dataset, and turn all your processing code into functions, so you can do
# this processing across multiple URLs to get one dataset you can model on.
# The next step is to do k-Means Clustering and get dummies, then run Random Forest Regressor, and write RESTful API.

# url_list = ["https://nethouseprices.com/house-prices/london?page={}".format(i) for i in xrange(1,12484)]
# html_list = [urlopen(url) for url in url_list]

In [3]:
# Identified from element inspections via the Chrome developer console.
addresses = soup.find_all("strong", class_="street-details-head-row")
prices = soup.find_all("strong", class_="street-details-price-row")
details = soup.find_all("div", class_="street-details-row")

In [4]:
sale_dates_rows = soup.find_all("tr", class_="sold_price_row")
sale_date_strings = [i.findChildren('td')[-1].text for i in sale_dates_rows]
def parse_date(date_string):
    ds = date_string
    dsl = ds.split(" ")
    return " ".join(["".join([char if not char.isalpha() else "" for char in dsl[0]]), " ".join(dsl[1:])])

cleaned_sale_date_strings = [parse_date(i) for i in sale_date_strings]
# print cleaned_sale_date_strings
sale_dates = [datetime.strptime(i, "%d %B %Y") for i in cleaned_sale_date_strings]
# sale_dates

In [5]:
# Our scraped data series are set below.
addr = [i.find("a").string.replace(u"\xa0", " ") for i in addresses]
pxs = [float(i.string.replace(u"\xa3", "").replace(u",", "")) for i in prices]
property_characteristics = [[i.strip() for i in categories.string.split(",")] for categories in details]
flat_type = [i[0] for i in property_characteristics]
lease_type = [i[1] for i in property_characteristics]
build_status = [i[2] for i in property_characteristics]

In [6]:
geodata_urls = ["https://nominatim.openstreetmap.org/search?q=\"{}\"&format=json".format(i.replace(" ", "%20")) for i in addr]
    
def get_geodata_object(openstreetmap_api_url):
    url = openstreetmap_api_url
    json_response_text = BeautifulSoup(urlopen(url), "lxml").text
    return json.loads(json_response_text)

def convert_json_to_named_tuple(json_):
    """This is solely for our convenience when referencing JSON response attributes in dataset creation"""
    return json.loads(json_, object_hook=lambda dict_: namedtuple('X', dict_.keys())(*dict_.values()))

In [7]:
json_search_results = [get_geodata_object(url) for url in geodata_urls]
top_search_results = [result if len(result) == 0 else result[0] for result in json_search_results]
# for i in top_search_results:
#     pprint(i)

In [8]:
# We now convert these top search results back to JSON to make named tuples for ease of referencing in dataseries creation.
# top_search_results_as_strings = ['[{}]'.format(str(i)) if type(i) == dict else '{}'.format(i) for i in top_search_results]
top_search_results_as_json = [json.dumps(i).replace("class", "category").replace("type", "subcategory").replace("osm_subcategory", "osm_type") for i in top_search_results]
geodata_json = [convert_json_to_named_tuple(result) for result in top_search_results_as_json]

In [9]:
def load_geodata_attributes(geodata_obj):
    try:
        return (
                geodata_obj.category,
                geodata_obj.subcategory,
                float(geodata_obj.importance),
                float(geodata_obj.lon),
                float(geodata_obj.lat))
    except AttributeError: # this handles the case where our JSON loader did not find a JSON response from the API URL.
        return (np.nan, np.nan, np.nan, np.nan, np.nan)

#TO-DO: add data parsed from display_name about borough as alternative to k Mean Clustering, to data frame.
# json_search_results = [get_geodata_object(url) for url in geodata_urls]
geodata = [load_geodata_attributes(result_named_tuple) for result_named_tuple in geodata_json]

category = [i[0] for i in geodata]
subcategory = [i[1] for i in geodata]
importance = [i[2] for i in geodata]
longitude = [i[3] for i in geodata]
latitude = [i[4] for i in geodata]

In [10]:
# print geodata

In [11]:
# We construct our dataset.
variables = [addr, pxs, sale_dates, flat_type, lease_type, build_status, category, subcategory, importance, longitude, latitude]
series_names = ["addresses",
                "prices",
                "sale_dates",
                "flat_type",
                "lease_type",
                "build_status",
                "category",
                "subcategory",
                "importance",
                "longitude",
                "latitude"]

# Check all series are the same length.
if len(pxs) == sum([len(dataseries) for dataseries in variables])/len(variables):
    # Setup dictionary for dataframe.
    dataset = {series_name : series for series_name, series in zip(series_names, variables)}

In [12]:
# Beware some erroneous lon-lat data due to multiple search results and improper parsing of JSON response.
# NB: ignore the above, this was fixed. Now have to find a way of removing bad search data, say data 1SD away from mean lat lon.

dataset_frame = pd.DataFrame(dataset)
dataset_frame

,addresses,build_status,category,flat_type,importance,latitude,lease_type,longitude,prices,sale_dates,subcategory
0,"Flat 14 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,517275.0,2018-09-26,NaN
1,"Flat 26 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,527175.0,2018-09-26,NaN
2,"91 Dames Road, London, E7 0DW",Non-Newbuild,highway,Terraced,0.610,51.553902,Freehold,0.023391,420000.0,2018-09-25,secondary
3,"82 Ramsay Road, London, E7 9EW",Non-Newbuild,highway,Terraced,0.510,51.556909,Freehold,0.017585,420000.0,2018-09-25,residential
4,"21 Mandela Street, London, SW9 6EL",Non-Newbuild,highway,Terraced,0.520,51.478533,Freehold,-0.110912,560000.0,2018-09-25,residential
5,"115 Murray Road, London, W5 4DB",Non-Newbuild,highway,Terraced,0.510,51.493612,Leasehold,-0.313211,495000.0,2018-09-24,residential
6,"55 Briar Avenue, London, SW16 3AB",Non-Newbuild,highway,Semi Detached,0.610,51.417612,Freehold,-0.119799,535000.0,2018-09-24,residential
7,"26 Carlingford Road, London, N15 3EH",Non-Newbuild,highway,Terraced,0.610,51.589426,Freehold,-0.097470,500000.0,2018-09-24,residential
8,"30 Darwin Road, London, W5 4BD",Non-Newbuild,highway,Terraced,0.510,51.494709,Freehold,-0.305955,820000.0,2018-09-24,residential
9,"Flat 5 Peace Court, 8 Swynford Gardens, London...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,260000.0,2018-09-24,NaN
10,"Flat 2 59 Dalston Lane, London, E8 2NG",Non-Newbuild,highway,Flat,0.620,51.546280,Leasehold,-0.069922,795000.0,2018-09-24,primary
11,"5 Griffins Close, London, N21 2EW",Non-Newbuild,highway,Detached,0.610,51.633648,Freehold,-0.084601,920000.0,2018-09-24,residential
12,"56 Chatham Road, Walthamstow, London, E17 6EU",Non-Newbuild,highway,Terraced,0.410,51.594836,Freehold,0.015356,660000.0,2018-09-21,residential
13,"42 Elm Park Road, London, N3 1EB",Non-Newbuild,place,Terraced,0.521,51.486308,Freehold,-0.176770,1112500.0,2018-09-21,house
14,"47 Stanley Road, London, SW14 7EB",Non-Newbuild,shop,Terraced,0.421,51.352929,Freehold,-0.162162,650000.0,2018-09-21,convenience
15,"354a North End Road, London, SW6 1LY",Non-Newbuild,highway,Flat,0.710,51.481066,Leasehold,-0.199140,500000.0,2018-09-21,secondary
16,"137 Rusthall Avenue, London, W4 1BL",Non-Newbuild,highway,Terraced,0.510,51.499188,Freehold,-0.260993,1260000.0,2018-09-21,residential
17,"193 Grangehill Road, London, SE9 1SR",Non-Newbuild,highway,Terraced,0.510,51.463532,Freehold,0.056729,525000.0,2018-09-21,tertiary
18,"Flat 15 9 Devonhurst Place, London, W4 4JB",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,785000.0,2018-09-21,NaN
19,"9 Rotherwick Road, London, NW11 7DG",Non-Newbuild,highway,Semi Detached,0.510,51.574120,Freehold,-0.193293,1510000.0,2018-09-21,residential
20,"40 Paddock Road, London, NW2 7DL",Non-Newbuild,highway,Semi Detached,0.510,51.564184,Freehold,-0.237102,630000.0,2018-09-21,uncategoryified
21,"Flat 17 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,381000.0,2018-09-21,NaN
22,"33 Highclere Street, London, SE26 4EX",Non-Newbuild,highway,Terraced,0.510,51.428020,Freehold,-0.042662,410000.0,2018-09-21,residential
23,"34 Linden Avenue, London, NW10 5RL",Non-Newbuild,building,Semi Detached,0.621,51.533469,Freehold,-0.220750,1225000.0,2018-09-21,yes
24,"Flat 16 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,376000.0,2018-09-21,NaN
25,"37 Narcissus Road, London, NW6 1TL",Non-Newbuild,highway,Terraced,0.510,51.550917,Freehold,-0.195848,1475000.0,2018-09-21,residential
26,"22 Gordon Road, South Woodford, London, E18 1DN",Non-Newbuild,highway,Semi Detached,0.720,51.597489,Freehold,0.034042,580000.0,2018-09-21,residential
27,"239 New Kings Road, London, SW6 4XG",Non-Newbuild,highway,Terraced,0.610,51.472701,Freehold,-0.200299,2531630.0,2018-09-21,primary
28,"Flat 9 59 Christchurch Hill, London, NW3 1JJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,486520.0,2018-09-21,NaN
29,"29 Woodville Road, Walthamstow, London, E17 7ER",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,560000.0,2018-09-21,NaN
30,"Flat 19 St George's Court, 83 - 89 St Georges ...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,740000.0,2018-09-21,NaN
31,"83 Ridge Road, London, N21 3EL",Non-Newbuild,place,Semi Detached,0.411,41.615377,Freehold,-72.091349,650000.0,2018-09-21,house
32,"16 Old Farm Avenue, London, N14 5QP",Non-Newbuild,highway,Terraced,0.710,51.637725,Freehold,-0.132281,900000.0,2018-09-21,residential
33,"Flat 801 Michigan Building, 2 Biscayne Avenue,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,391000.0,2018-09-21,NaN
34,"Flat 2 Regis Court Melcombe Place, London, NW1...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,650000.0,2018-09-21,NaN
35,"Flat 61 Ability Place, 37 Millharbour, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,428500.0,2018-09-21,NaN
36,"47 Uphill Grove, Mill Hill, London, NW7 4NH",Non-Newbuild,highway,Detached,0.710,51.619673,Freehold,-0.245426,950000.0,2018-09-21,residential
37,"5 Overton Drive, London, E11 2NN",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,1005000.0,2018-09-21,NaN
38,"Ground Floor Front Flat 10 Linden Gardens, Lon...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,725000.0,2018-09-21,NaN
39,"Flat 253 Manhattan Building Fairfield Road, Lo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,310000.0,2018-09-21,NaN
40,"17 Holders Hill Drive, London, NW4 1NL",Non-Newbuild,highway,Semi Detached,0.710,51.595951,Freehold,-0.211486,770000.0,2018-09-21,residential
41,"Flat 3 Blake Court, 1 Newsholme Drive, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,600000.0,2018-09-21,NaN
42,"21 Lynwood Road, London, W5 1JQ",Non-Newbuild,highway,Terraced,0.610,51.528493,Freehold,-0.299853,910000.0,2018-09-21,residential
43,"Flat 11 Downham Wharf, 28 Hertford Road, Londo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,490000.0,2018-09-21,NaN
44,"19d Claverton Street, London, SW1V 3AY",Non-Newbuild,highway,Flat,0.510,51.486364,Leasehold,-0.137744,480000.0,2018-09-21,tertiary
45,"Flat 23a Wetherby Mansions Earls Court Square,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,850000.0,2018-09-21,NaN
46,"47 College Road, London, NW10 5EL",Non-Newbuild,building,Terraced,0.621,51.531998,Freehold,-0.225845,990000.0,2018-09-21,yes
47,"Flat 13 Witham Court Thant Close, London, E10 5PJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,230000.0,2018-09-21,NaN
48,"25 Amherst Avenue, London, W13 8NQ",Non-Newbuild,highway,Semi Detached,0.520,51.517422,Freehold,-0.314233,1726000.0,2018-09-21,residential
49,"Flat 5 8 Warminster Road, London, SE25 4DZ",Non-Newbuild,highway,Flat,0.610,51.405595,Leasehold,-0.073615,125000.0,2018-09-21,residential

In [13]:
# We add a new parameter, which we will use to exclude anomalous lat lon coordinates from bad Open Street Map API data.
    
dataset_frame["latitude_z_score"] = (dataset_frame.latitude - dataset_frame.latitude.mean()) / dataset_frame.latitude.std()
dataset_frame["longitude_z_score"] = (dataset_frame.longitude - dataset_frame.longitude.mean()) / dataset_frame.longitude.std()
dataset_frame

,addresses,build_status,category,flat_type,importance,latitude,lease_type,longitude,prices,sale_dates,subcategory,latitude_z_score,longitude_z_score
0,"Flat 14 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,517275.0,2018-09-26,NaN,NaN,NaN
1,"Flat 26 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,527175.0,2018-09-26,NaN,NaN,NaN
2,"91 Dames Road, London, E7 0DW",Non-Newbuild,highway,Terraced,0.610,51.553902,Freehold,0.023391,420000.0,2018-09-25,secondary,0.196889,0.192977
3,"82 Ramsay Road, London, E7 9EW",Non-Newbuild,highway,Terraced,0.510,51.556909,Freehold,0.017585,420000.0,2018-09-25,residential,0.198578,0.192528
4,"21 Mandela Street, London, SW9 6EL",Non-Newbuild,highway,Terraced,0.520,51.478533,Freehold,-0.110912,560000.0,2018-09-25,residential,0.154565,0.182583
5,"115 Murray Road, London, W5 4DB",Non-Newbuild,highway,Terraced,0.510,51.493612,Leasehold,-0.313211,495000.0,2018-09-24,residential,0.163033,0.166928
6,"55 Briar Avenue, London, SW16 3AB",Non-Newbuild,highway,Semi Detached,0.610,51.417612,Freehold,-0.119799,535000.0,2018-09-24,residential,0.120355,0.181896
7,"26 Carlingford Road, London, N15 3EH",Non-Newbuild,highway,Terraced,0.610,51.589426,Freehold,-0.097470,500000.0,2018-09-24,residential,0.216838,0.183624
8,"30 Darwin Road, London, W5 4BD",Non-Newbuild,highway,Terraced,0.510,51.494709,Freehold,-0.305955,820000.0,2018-09-24,residential,0.163649,0.167489
9,"Flat 5 Peace Court, 8 Swynford Gardens, London...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,260000.0,2018-09-24,NaN,NaN,NaN
10,"Flat 2 59 Dalston Lane, London, E8 2NG",Non-Newbuild,highway,Flat,0.620,51.546280,Leasehold,-0.069922,795000.0,2018-09-24,primary,0.192609,0.185756
11,"5 Griffins Close, London, N21 2EW",Non-Newbuild,highway,Detached,0.610,51.633648,Freehold,-0.084601,920000.0,2018-09-24,residential,0.241671,0.184620
12,"56 Chatham Road, Walthamstow, London, E17 6EU",Non-Newbuild,highway,Terraced,0.410,51.594836,Freehold,0.015356,660000.0,2018-09-21,residential,0.219876,0.192355
13,"42 Elm Park Road, London, N3 1EB",Non-Newbuild,place,Terraced,0.521,51.486308,Freehold,-0.176770,1112500.0,2018-09-21,house,0.158931,0.177487
14,"47 Stanley Road, London, SW14 7EB",Non-Newbuild,shop,Terraced,0.421,51.352929,Freehold,-0.162162,650000.0,2018-09-21,convenience,0.084031,0.178617
15,"354a North End Road, London, SW6 1LY",Non-Newbuild,highway,Flat,0.710,51.481066,Leasehold,-0.199140,500000.0,2018-09-21,secondary,0.155987,0.175756
16,"137 Rusthall Avenue, London, W4 1BL",Non-Newbuild,highway,Terraced,0.510,51.499188,Freehold,-0.260993,1260000.0,2018-09-21,residential,0.166164,0.170969
17,"193 Grangehill Road, London, SE9 1SR",Non-Newbuild,highway,Terraced,0.510,51.463532,Freehold,0.056729,525000.0,2018-09-21,tertiary,0.146141,0.195557
18,"Flat 15 9 Devonhurst Place, London, W4 4JB",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,785000.0,2018-09-21,NaN,NaN,NaN
19,"9 Rotherwick Road, London, NW11 7DG",Non-Newbuild,highway,Semi Detached,0.510,51.574120,Freehold,-0.193293,1510000.0,2018-09-21,residential,0.208243,0.176208
20,"40 Paddock Road, London, NW2 7DL",Non-Newbuild,highway,Semi Detached,0.510,51.564184,Freehold,-0.237102,630000.0,2018-09-21,uncategoryified,0.202663,0.172818
21,"Flat 17 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,381000.0,2018-09-21,NaN,NaN,NaN
22,"33 Highclere Street, London, SE26 4EX",Non-Newbuild,highway,Terraced,0.510,51.428020,Freehold,-0.042662,410000.0,2018-09-21,residential,0.126199,0.187865
23,"34 Linden Avenue, London, NW10 5RL",Non-Newbuild,building,Semi Detached,0.621,51.533469,Freehold,-0.220750,1225000.0,2018-09-21,yes,0.185415,0.174083
24,"Flat 16 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,376000.0,2018-09-21,NaN,NaN,NaN
25,"37 Narcissus Road, London, NW6 1TL",Non-Newbuild,highway,Terraced,0.510,51.550917,Freehold,-0.195848,1475000.0,2018-09-21,residential,0.195213,0.176010
26,"22 Gordon Road, South Woodford, London, E18 1DN",Non-Newbuild,highway,Semi Detached,0.720,51.597489,Freehold,0.034042,580000.0,2018-09-21,residential,0.221366,0.193801
27,"239 New Kings Road, London, SW6 4XG",Non-Newbuild,highway,Terraced,0.610,51.472701,Freehold,-0.200299,2531630.0,2018-09-21,primary,0.151290,0.175666
28,"Flat 9 59 Christchurch Hill, London, NW3 1JJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,486520.0,2018-09-21,NaN,NaN,NaN
29,"29 Woodville Road, Walthamstow, London, E17 7ER",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,560000.0,2018-09-21,NaN,NaN,NaN
30,"Flat 19 St George's Court, 83 - 89 St Georges ...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,740000.0,2018-09-21,NaN,NaN,NaN
31,"83 Ridge Road, London, N21 3EL",Non-Newbuild,place,Semi Detached,0.411,41.615377,Freehold,-72.091349,650000.0,2018-09-21,house,-5.384172,-5.387971
32,"16 Old Farm Avenue, London, N14 5QP",Non-Newbuild,highway,Terraced,0.710,51.637725,Freehold,-0.132281,900000.0,2018-09-21,residential,0.243961,0.180930
33,"Flat 801 Michigan Building, 2 Biscayne Avenue,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,391000.0,2018-09-21,NaN,NaN,NaN
34,"Flat 2 Regis Court Melcombe Place, London, NW1...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,650000.0,2018-09-21,NaN,NaN,NaN
35,"Flat 61 Ability Place, 37 Millharbour, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,428500.0,2018-09-21,NaN,NaN,NaN
36,"47 Uphill Grove, Mill Hill, London, NW7 4NH",Non-Newbuild,highway,Detached,0.710,51.619673,Freehold,-0.245426,950000.0,2018-09-21,residential,0.233823,0.172173
37,"5 Overton Drive, London, E11 2NN",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,1005000.0,2018-09-21,NaN,NaN,NaN
38,"Ground Floor Front Flat 10 Linden Gardens, Lon...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,725000.0,2018-09-21,NaN,NaN,NaN
39,"Flat 253 Manhattan Building Fairfield Road, Lo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,310000.0,2018-09-21,NaN,NaN,NaN
40,"17 Holders Hill Drive, London, NW4 1NL",Non-Newbuild,highway,Semi Detached,0.710,51.595951,Freehold,-0.211486,770000.0,2018-09-21,residential,0.220502,0.174800
41,"Flat 3 Blake Court, 1 Newsholme Drive, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,600000.0,2018-09-21,NaN,NaN,NaN
42,"21 Lynwood Road, London, W5 1JQ",Non-Newbuild,highway,Terraced,0.610,51.528493,Freehold,-0.299853,910000.0,2018-09-21,residential,0.182620,0.167961
43,"Flat 11 Downham Wharf, 28 Hertford Road, Londo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,490000.0,2018-09-21,NaN,NaN,NaN
44,"19d Claverton Street, London, SW1V 3AY",Non-Newbuild,highway,Flat,0.510,51.486364,Leasehold,-0.137744,480000.0,2018-09-21,tertiary,0.158962,0.180507
45,"Flat 23a Wetherby Mansions Earls Court Square,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,850000.0,2018-09-21,NaN,NaN,NaN
46,"47 College Road, London, NW10 5EL",Non-Newbuild,building,Terraced,0.621,51.531998,Freehold,-0.225845,990000.0,2018-09-21,yes,0.184589,0.173689
47,"Flat 13 Witham Court Thant Close, London, E10 5PJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,230000.0,2018-09-21,NaN,NaN,NaN
48,"25 Amherst Avenue, London, W13 8NQ",Non-Newbuild,highway,Semi Detached,0.520,51.517422,Freehold,-0.314233,1726000.0,2018-09-21,residential,0.176403,0.166848
49,"Flat 5 8 Warminster Road, London, SE25 4DZ",Non-Newbuild,highway,Flat,0.610,51.405595,Leasehold,-0.073615,125000.0,2018-09-21,residential,0.113606,0.185470

In [14]:
# We create new columns which introduce NaN data where the lat lon absolute Z scores exceed 3, indicating likely bad data.
# By bad data, we mean assuming a normal distribution, the lat lon coordinates are statistically significantly different
# from the average coordinates of all other datapoints. Given all the houses should be in London, this is a good filter.

dataset_frame["lat_z_score_mask"] = dataset_frame.latitude_z_score.where(dataset_frame.latitude_z_score.abs() < 3)
dataset_frame["lon_z_score_mask"] = dataset_frame.longitude_z_score.where(dataset_frame.longitude_z_score.abs() < 3)
dataset_frame

,addresses,build_status,category,flat_type,importance,latitude,lease_type,longitude,prices,sale_dates,subcategory,latitude_z_score,longitude_z_score,lat_z_score_mask,lon_z_score_mask
0,"Flat 14 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,517275.0,2018-09-26,NaN,NaN,NaN,NaN,NaN
1,"Flat 26 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,527175.0,2018-09-26,NaN,NaN,NaN,NaN,NaN
2,"91 Dames Road, London, E7 0DW",Non-Newbuild,highway,Terraced,0.610,51.553902,Freehold,0.023391,420000.0,2018-09-25,secondary,0.196889,0.192977,0.196889,0.192977
3,"82 Ramsay Road, London, E7 9EW",Non-Newbuild,highway,Terraced,0.510,51.556909,Freehold,0.017585,420000.0,2018-09-25,residential,0.198578,0.192528,0.198578,0.192528
4,"21 Mandela Street, London, SW9 6EL",Non-Newbuild,highway,Terraced,0.520,51.478533,Freehold,-0.110912,560000.0,2018-09-25,residential,0.154565,0.182583,0.154565,0.182583
5,"115 Murray Road, London, W5 4DB",Non-Newbuild,highway,Terraced,0.510,51.493612,Leasehold,-0.313211,495000.0,2018-09-24,residential,0.163033,0.166928,0.163033,0.166928
6,"55 Briar Avenue, London, SW16 3AB",Non-Newbuild,highway,Semi Detached,0.610,51.417612,Freehold,-0.119799,535000.0,2018-09-24,residential,0.120355,0.181896,0.120355,0.181896
7,"26 Carlingford Road, London, N15 3EH",Non-Newbuild,highway,Terraced,0.610,51.589426,Freehold,-0.097470,500000.0,2018-09-24,residential,0.216838,0.183624,0.216838,0.183624
8,"30 Darwin Road, London, W5 4BD",Non-Newbuild,highway,Terraced,0.510,51.494709,Freehold,-0.305955,820000.0,2018-09-24,residential,0.163649,0.167489,0.163649,0.167489
9,"Flat 5 Peace Court, 8 Swynford Gardens, London...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,260000.0,2018-09-24,NaN,NaN,NaN,NaN,NaN
10,"Flat 2 59 Dalston Lane, London, E8 2NG",Non-Newbuild,highway,Flat,0.620,51.546280,Leasehold,-0.069922,795000.0,2018-09-24,primary,0.192609,0.185756,0.192609,0.185756
11,"5 Griffins Close, London, N21 2EW",Non-Newbuild,highway,Detached,0.610,51.633648,Freehold,-0.084601,920000.0,2018-09-24,residential,0.241671,0.184620,0.241671,0.184620
12,"56 Chatham Road, Walthamstow, London, E17 6EU",Non-Newbuild,highway,Terraced,0.410,51.594836,Freehold,0.015356,660000.0,2018-09-21,residential,0.219876,0.192355,0.219876,0.192355
13,"42 Elm Park Road, London, N3 1EB",Non-Newbuild,place,Terraced,0.521,51.486308,Freehold,-0.176770,1112500.0,2018-09-21,house,0.158931,0.177487,0.158931,0.177487
14,"47 Stanley Road, London, SW14 7EB",Non-Newbuild,shop,Terraced,0.421,51.352929,Freehold,-0.162162,650000.0,2018-09-21,convenience,0.084031,0.178617,0.084031,0.178617
15,"354a North End Road, London, SW6 1LY",Non-Newbuild,highway,Flat,0.710,51.481066,Leasehold,-0.199140,500000.0,2018-09-21,secondary,0.155987,0.175756,0.155987,0.175756
16,"137 Rusthall Avenue, London, W4 1BL",Non-Newbuild,highway,Terraced,0.510,51.499188,Freehold,-0.260993,1260000.0,2018-09-21,residential,0.166164,0.170969,0.166164,0.170969
17,"193 Grangehill Road, London, SE9 1SR",Non-Newbuild,highway,Terraced,0.510,51.463532,Freehold,0.056729,525000.0,2018-09-21,tertiary,0.146141,0.195557,0.146141,0.195557
18,"Flat 15 9 Devonhurst Place, London, W4 4JB",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,785000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
19,"9 Rotherwick Road, London, NW11 7DG",Non-Newbuild,highway,Semi Detached,0.510,51.574120,Freehold,-0.193293,1510000.0,2018-09-21,residential,0.208243,0.176208,0.208243,0.176208
20,"40 Paddock Road, London, NW2 7DL",Non-Newbuild,highway,Semi Detached,0.510,51.564184,Freehold,-0.237102,630000.0,2018-09-21,uncategoryified,0.202663,0.172818,0.202663,0.172818
21,"Flat 17 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,381000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
22,"33 Highclere Street, London, SE26 4EX",Non-Newbuild,highway,Terraced,0.510,51.428020,Freehold,-0.042662,410000.0,2018-09-21,residential,0.126199,0.187865,0.126199,0.187865
23,"34 Linden Avenue, London, NW10 5RL",Non-Newbuild,building,Semi Detached,0.621,51.533469,Freehold,-0.220750,1225000.0,2018-09-21,yes,0.185415,0.174083,0.185415,0.174083
24,"Flat 16 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,376000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
25,"37 Narcissus Road, London, NW6 1TL",Non-Newbuild,highway,Terraced,0.510,51.550917,Freehold,-0.195848,1475000.0,2018-09-21,residential,0.195213,0.176010,0.195213,0.176010
26,"22 Gordon Road, South Woodford, London, E18 1DN",Non-Newbuild,highway,Semi Detached,0.720,51.597489,Freehold,0.034042,580000.0,2018-09-21,residential,0.221366,0.193801,0.221366,0.193801
27,"239 New Kings Road, London, SW6 4XG",Non-Newbuild,highway,Terraced,0.610,51.472701,Freehold,-0.200299,2531630.0,2018-09-21,primary,0.151290,0.175666,0.151290,0.175666
28,"Flat 9 59 Christchurch Hill, London, NW3 1JJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,486520.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
29,"29 Woodville Road, Walthamstow, London, E17 7ER",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,560000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
30,"Flat 19 St George's Court, 83 - 89 St Georges ...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,740000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
31,"83 Ridge Road, London, N21 3EL",Non-Newbuild,place,Semi Detached,0.411,41.615377,Freehold,-72.091349,650000.0,2018-09-21,house,-5.384172,-5.387971,NaN,NaN
32,"16 Old Farm Avenue, London, N14 5QP",Non-Newbuild,highway,Terraced,0.710,51.637725,Freehold,-0.132281,900000.0,2018-09-21,residential,0.243961,0.180930,0.243961,0.180930
33,"Flat 801 Michigan Building, 2 Biscayne Avenue,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,391000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
34,"Flat 2 Regis Court Melcombe Place, London, NW1...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,650000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
35,"Flat 61 Ability Place, 37 Millharbour, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,428500.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
36,"47 Uphill Grove, Mill Hill, London, NW7 4NH",Non-Newbuild,highway,Detached,0.710,51.619673,Freehold,-0.245426,950000.0,2018-09-21,residential,0.233823,0.172173,0.233823,0.172173
37,"5 Overton Drive, London, E11 2NN",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,1005000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
38,"Ground Floor Front Flat 10 Linden Gardens, Lon...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,725000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
39,"Flat 253 Manhattan Building Fairfield Road, Lo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,310000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
40,"17 Holders Hill Drive, London, NW4 1NL",Non-Newbuild,highway,Semi Detached,0.710,51.595951,Freehold,-0.211486,770000.0,2018-09-21,residential,0.220502,0.174800,0.220502,0.174800
41,"Flat 3 Blake Court, 1 Newsholme Drive, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,600000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
42,"21 Lynwood Road, London, W5 1JQ",Non-Newbuild,highway,Terraced,0.610,51.528493,Freehold,-0.299853,910000.0,2018-09-21,residential,0.182620,0.167961,0.182620,0.167961
43,"Flat 11 Downham Wharf, 28 Hertford Road, Londo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,490000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
44,"19d Claverton Street, London, SW1V 3AY",Non-Newbuild,highway,Flat,0.510,51.486364,Leasehold,-0.137744,480000.0,2018-09-21,tertiary,0.158962,0.180507,0.158962,0.180507
45,"Flat 23a Wetherby Mansions Earls Court Square,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,850000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
46,"47 College Road, London, NW10 5EL",Non-Newbuild,building,Terraced,0.621,51.531998,Freehold,-0.225845,990000.0,2018-09-21,yes,0.184589,0.173689,0.184589,0.173689
47,"Flat 13 Witham Court Thant Close, London, E10 5PJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,230000.0,2018-09-21,NaN,NaN,NaN,NaN,NaN
48,"25 Amherst Avenue, London, W13 8NQ",Non-Newbuild,highway,Semi Detached,0.520,51.517422,Freehold,-0.314233,1726000.0,2018-09-21,residential,0.176403,0.166848,0.176403,0.166848
49,"Flat 5 8 Warminster Road, London, SE25 4DZ",Non-Newbuild,highway,Flat,0.610,51.405595,Leasehold,-0.073615,125000.0,2018-09-21,residential,0.113606,0.185470,0.113606,0.185470

In [15]:
# We will also create dummy variables for all our non-numerical dataseries.
build_status_dummies = pd.get_dummies(dataset_frame.build_status)
flat_type_dummies = pd.get_dummies(dataset_frame.flat_type)
lease_type_dummies = pd.get_dummies(dataset_frame.lease_type)
category_dummies = pd.get_dummies(dataset_frame.category)
subcategory_dummies = pd.get_dummies(dataset_frame.subcategory)


dataframes_set = [dataset_frame, build_status_dummies, flat_type_dummies, lease_type_dummies, category_dummies, subcategory_dummies]
# for dataframe in dataframes_set:
#     dataframe.reset_index(drop=True)
    
dataset_frame = pd.concat(dataframes_set, axis=1)
# dataset_frame = pd.concat([dataset_frame, pd.get_dummies(dataset_frame.lease_type)], axis=1)
dataset_frame

,addresses,build_status,category,flat_type,importance,latitude,lease_type,longitude,prices,sale_dates,...,place,shop,convenience,house,primary,residential,secondary,tertiary,uncategoryified,yes
0,"Flat 14 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,517275.0,2018-09-26,...,0,0,0,0,0,0,0,0,0,0
1,"Flat 26 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,527175.0,2018-09-26,...,0,0,0,0,0,0,0,0,0,0
2,"91 Dames Road, London, E7 0DW",Non-Newbuild,highway,Terraced,0.610,51.553902,Freehold,0.023391,420000.0,2018-09-25,...,0,0,0,0,0,0,1,0,0,0
3,"82 Ramsay Road, London, E7 9EW",Non-Newbuild,highway,Terraced,0.510,51.556909,Freehold,0.017585,420000.0,2018-09-25,...,0,0,0,0,0,1,0,0,0,0
4,"21 Mandela Street, London, SW9 6EL",Non-Newbuild,highway,Terraced,0.520,51.478533,Freehold,-0.110912,560000.0,2018-09-25,...,0,0,0,0,0,1,0,0,0,0
5,"115 Murray Road, London, W5 4DB",Non-Newbuild,highway,Terraced,0.510,51.493612,Leasehold,-0.313211,495000.0,2018-09-24,...,0,0,0,0,0,1,0,0,0,0
6,"55 Briar Avenue, London, SW16 3AB",Non-Newbuild,highway,Semi Detached,0.610,51.417612,Freehold,-0.119799,535000.0,2018-09-24,...,0,0,0,0,0,1,0,0,0,0
7,"26 Carlingford Road, London, N15 3EH",Non-Newbuild,highway,Terraced,0.610,51.589426,Freehold,-0.097470,500000.0,2018-09-24,...,0,0,0,0,0,1,0,0,0,0
8,"30 Darwin Road, London, W5 4BD",Non-Newbuild,highway,Terraced,0.510,51.494709,Freehold,-0.305955,820000.0,2018-09-24,...,0,0,0,0,0,1,0,0,0,0
9,"Flat 5 Peace Court, 8 Swynford Gardens, London...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,260000.0,2018-09-24,...,0,0,0,0,0,0,0,0,0,0
10,"Flat 2 59 Dalston Lane, London, E8 2NG",Non-Newbuild,highway,Flat,0.620,51.546280,Leasehold,-0.069922,795000.0,2018-09-24,...,0,0,0,0,1,0,0,0,0,0
11,"5 Griffins Close, London, N21 2EW",Non-Newbuild,highway,Detached,0.610,51.633648,Freehold,-0.084601,920000.0,2018-09-24,...,0,0,0,0,0,1,0,0,0,0
12,"56 Chatham Road, Walthamstow, London, E17 6EU",Non-Newbuild,highway,Terraced,0.410,51.594836,Freehold,0.015356,660000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
13,"42 Elm Park Road, London, N3 1EB",Non-Newbuild,place,Terraced,0.521,51.486308,Freehold,-0.176770,1112500.0,2018-09-21,...,1,0,0,1,0,0,0,0,0,0
14,"47 Stanley Road, London, SW14 7EB",Non-Newbuild,shop,Terraced,0.421,51.352929,Freehold,-0.162162,650000.0,2018-09-21,...,0,1,1,0,0,0,0,0,0,0
15,"354a North End Road, London, SW6 1LY",Non-Newbuild,highway,Flat,0.710,51.481066,Leasehold,-0.199140,500000.0,2018-09-21,...,0,0,0,0,0,0,1,0,0,0
16,"137 Rusthall Avenue, London, W4 1BL",Non-Newbuild,highway,Terraced,0.510,51.499188,Freehold,-0.260993,1260000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
17,"193 Grangehill Road, London, SE9 1SR",Non-Newbuild,highway,Terraced,0.510,51.463532,Freehold,0.056729,525000.0,2018-09-21,...,0,0,0,0,0,0,0,1,0,0
18,"Flat 15 9 Devonhurst Place, London, W4 4JB",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,785000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
19,"9 Rotherwick Road, London, NW11 7DG",Non-Newbuild,highway,Semi Detached,0.510,51.574120,Freehold,-0.193293,1510000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
20,"40 Paddock Road, London, NW2 7DL",Non-Newbuild,highway,Semi Detached,0.510,51.564184,Freehold,-0.237102,630000.0,2018-09-21,...,0,0,0,0,0,0,0,0,1,0
21,"Flat 17 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,381000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
22,"33 Highclere Street, London, SE26 4EX",Non-Newbuild,highway,Terraced,0.510,51.428020,Freehold,-0.042662,410000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
23,"34 Linden Avenue, London, NW10 5RL",Non-Newbuild,building,Semi Detached,0.621,51.533469,Freehold,-0.220750,1225000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,1
24,"Flat 16 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,376000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
25,"37 Narcissus Road, London, NW6 1TL",Non-Newbuild,highway,Terraced,0.510,51.550917,Freehold,-0.195848,1475000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
26,"22 Gordon Road, South Woodford, London, E18 1DN",Non-Newbuild,highway,Semi Detached,0.720,51.597489,Freehold,0.034042,580000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
27,"239 New Kings Road, London, SW6 4XG",Non-Newbuild,highway,Terraced,0.610,51.472701,Freehold,-0.200299,2531630.0,2018-09-21,...,0,0,0,0,1,0,0,0,0,0
28,"Flat 9 59 Christchurch Hill, London, NW3 1JJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,486520.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
29,"29 Woodville Road, Walthamstow, London, E17 7ER",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,560000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
30,"Flat 19 St George's Court, 83 - 89 St Georges ...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,740000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
31,"83 Ridge Road, London, N21 3EL",Non-Newbuild,place,Semi Detached,0.411,41.615377,Freehold,-72.091349,650000.0,2018-09-21,...,1,0,0,1,0,0,0,0,0,0
32,"16 Old Farm Avenue, London, N14 5QP",Non-Newbuild,highway,Terraced,0.710,51.637725,Freehold,-0.132281,900000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
33,"Flat 801 Michigan Building, 2 Biscayne Avenue,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,391000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
34,"Flat 2 Regis Court Melcombe Place, London, NW1...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,650000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
35,"Flat 61 Ability Place, 37 Millharbour, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,428500.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
36,"47 Uphill Grove, Mill Hill, London, NW7 4NH",Non-Newbuild,highway,Detached,0.710,51.619673,Freehold,-0.245426,950000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
37,"5 Overton Drive, London, E11 2NN",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,1005000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
38,"Ground Floor Front Flat 10 Linden Gardens, Lon...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,725000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
39,"Flat 253 Manhattan Building Fairfield Road, Lo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,310000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
40,"17 Holders Hill Drive, London, NW4 1NL",Non-Newbuild,highway,Semi Detached,0.710,51.595951,Freehold,-0.211486,770000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
41,"Flat 3 Blake Court, 1 Newsholme Drive, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,600000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
42,"21 Lynwood Road, London, W5 1JQ",Non-Newbuild,highway,Terraced,0.610,51.528493,Freehold,-0.299853,910000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
43,"Flat 11 Downham Wharf, 28 Hertford Road, Londo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,490000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
44,"19d Claverton Street, London, SW1V 3AY",Non-Newbuild,highway,Flat,0.510,51.486364,Leasehold,-0.137744,480000.0,2018-09-21,...,0,0,0,0,0,0,0,1,0,0
45,"Flat 23a Wetherby Mansions Earls Court Square,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,850000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
46,"47 College Road, London, NW10 5EL",Non-Newbuild,building,Terraced,0.621,51.531998,Freehold,-0.225845,990000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,1
47,"Flat 13 Witham Court Thant Close, London, E10 5PJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,230000.0,2018-09-21,...,0,0,0,0,0,0,0,0,0,0
48,"25 Amherst Avenue, London, W13 8NQ",Non-Newbuild,highway,Semi Detached,0.520,51.517422,Freehold,-0.314233,1726000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0
49,"Flat 5 8 Warminster Road, London, SE25 4DZ",Non-Newbuild,highway,Flat,0.610,51.405595,Leasehold,-0.073615,125000.0,2018-09-21,...,0,0,0,0,0,1,0,0,0,0

In [16]:
dataset_frame = dataset_frame.dropna()
cols_to_drop = ['build_status',
                'flat_type',
                'lease_type',
                'category',
                'subcategory',
                'latitude_z_score',
                'longitude_z_score',
                'lat_z_score_mask',
                'lon_z_score_mask']
final_dataset_frame = dataset_frame.drop(cols_to_drop, axis=1)
final_dataset_frame = final_dataset_frame.reset_index(drop=True)
final_dataset_frame

,addresses,importance,latitude,longitude,prices,sale_dates,Newbuild,Non-Newbuild,Detached,Flat,...,place,shop,convenience,house,primary,residential,secondary,tertiary,uncategoryified,yes
0,"91 Dames Road, London, E7 0DW",0.610,51.553902,0.023391,420000.0,2018-09-25,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,"82 Ramsay Road, London, E7 9EW",0.510,51.556909,0.017585,420000.0,2018-09-25,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,"21 Mandela Street, London, SW9 6EL",0.520,51.478533,-0.110912,560000.0,2018-09-25,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,"115 Murray Road, London, W5 4DB",0.510,51.493612,-0.313211,495000.0,2018-09-24,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,"55 Briar Avenue, London, SW16 3AB",0.610,51.417612,-0.119799,535000.0,2018-09-24,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
5,"26 Carlingford Road, London, N15 3EH",0.610,51.589426,-0.097470,500000.0,2018-09-24,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
6,"30 Darwin Road, London, W5 4BD",0.510,51.494709,-0.305955,820000.0,2018-09-24,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
7,"Flat 2 59 Dalston Lane, London, E8 2NG",0.620,51.546280,-0.069922,795000.0,2018-09-24,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
8,"5 Griffins Close, London, N21 2EW",0.610,51.633648,-0.084601,920000.0,2018-09-24,0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
9,"56 Chatham Road, Walthamstow, London, E17 6EU",0.410,51.594836,0.015356,660000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
10,"42 Elm Park Road, London, N3 1EB",0.521,51.486308,-0.176770,1112500.0,2018-09-21,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
11,"47 Stanley Road, London, SW14 7EB",0.421,51.352929,-0.162162,650000.0,2018-09-21,0,1,0,0,...,0,1,1,0,0,0,0,0,0,0
12,"354a North End Road, London, SW6 1LY",0.710,51.481066,-0.199140,500000.0,2018-09-21,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
13,"137 Rusthall Avenue, London, W4 1BL",0.510,51.499188,-0.260993,1260000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
14,"193 Grangehill Road, London, SE9 1SR",0.510,51.463532,0.056729,525000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15,"9 Rotherwick Road, London, NW11 7DG",0.510,51.574120,-0.193293,1510000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
16,"40 Paddock Road, London, NW2 7DL",0.510,51.564184,-0.237102,630000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
17,"33 Highclere Street, London, SE26 4EX",0.510,51.428020,-0.042662,410000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
18,"34 Linden Avenue, London, NW10 5RL",0.621,51.533469,-0.220750,1225000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
19,"37 Narcissus Road, London, NW6 1TL",0.510,51.550917,-0.195848,1475000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
20,"22 Gordon Road, South Woodford, London, E18 1DN",0.720,51.597489,0.034042,580000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
21,"239 New Kings Road, London, SW6 4XG",0.610,51.472701,-0.200299,2531630.0,2018-09-21,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
22,"16 Old Farm Avenue, London, N14 5QP",0.710,51.637725,-0.132281,900000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
23,"47 Uphill Grove, Mill Hill, London, NW7 4NH",0.710,51.619673,-0.245426,950000.0,2018-09-21,0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
24,"17 Holders Hill Drive, London, NW4 1NL",0.710,51.595951,-0.211486,770000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
25,"21 Lynwood Road, London, W5 1JQ",0.610,51.528493,-0.299853,910000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
26,"19d Claverton Street, London, SW1V 3AY",0.510,51.486364,-0.137744,480000.0,2018-09-21,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
27,"47 College Road, London, NW10 5EL",0.621,51.531998,-0.225845,990000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
28,"25 Amherst Avenue, London, W13 8NQ",0.520,51.517422,-0.314233,1726000.0,2018-09-21,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
29,"Flat 5 8 Warminster Road, London, SE25 4DZ",0.610,51.405595,-0.073615,125000.0,2018-09-21,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0