In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

from pprint import pprint as pprint
from re import sub
from collections import namedtuple
from urllib2 import urlopen
from bs4 import BeautifulSoup

%matplotlib inline

In [2]:
url = "https://nethouseprices.com/house-prices/london?page=1"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [4]:
# Identified from element inspections via the Chrome developer console.
addresses = soup.find_all("strong", class_="street-details-head-row")
prices = soup.find_all("strong", class_="street-details-price-row")
details = soup.find_all("div", class_="street-details-row")

In [5]:
# Our scraped data series are set below.
addr = [i.find("a").string.replace(u"\xa0", " ") for i in addresses]
pxs = [float(i.string.replace(u"\xa3", "").replace(u",", "")) for i in prices]
property_characteristics = [[i.strip() for i in categories.string.split(",")] for categories in details]
flat_type = [i[0] for i in property_characteristics]
lease_type = [i[1] for i in property_characteristics]
build_status = [i[2] for i in property_characteristics]

In [6]:
geodata_urls = ["https://nominatim.openstreetmap.org/search?q=\"{}\"&format=json".format(i.replace(" ", "%20")) for i in addr]
    
def get_geodata_object(openstreetmap_api_url):
    url = openstreetmap_api_url
    json_response_text = BeautifulSoup(urlopen(url), "lxml").text
    return json.loads(json_response_text)

def convert_json_to_named_tuple(json_):
    """This is solely for our convenience when referencing JSON response attributes in dataset creation"""
    return json.loads(json_, object_hook=lambda dict_: namedtuple('X', dict_.keys())(*dict_.values()))

In [7]:
json_search_results = [get_geodata_object(url) for url in geodata_urls]
top_search_results = [result if len(result) == 0 else result[0] for result in json_search_results]
# for i in top_search_results:
#     pprint(i)

In [8]:
# We now convert these top search results back to JSON to make named tuples for ease of referencing in dataseries creation.
# top_search_results_as_strings = ['[{}]'.format(str(i)) if type(i) == dict else '{}'.format(i) for i in top_search_results]
top_search_results_as_json = [json.dumps(i).replace("class", "category").replace("type", "subcategory").replace("osm_subcategory", "osm_type") for i in top_search_results]
geodata_json = [convert_json_to_named_tuple(result) for result in top_search_results_as_json]

In [9]:
def load_geodata_attributes(geodata_obj):
    try:
        return (
                geodata_obj.category,
                geodata_obj.subcategory,
                float(geodata_obj.importance),
                float(geodata_obj.lon),
                float(geodata_obj.lat))
    except AttributeError: # this handles the case where our JSON loader did not find a JSON response from the API URL.
        return (np.nan, np.nan, np.nan, np.nan, np.nan)

#TO-DO: add data parsed from display_name about borough as alternative to k Mean Clustering, to data frame.
# json_search_results = [get_geodata_object(url) for url in geodata_urls]
geodata = [load_geodata_attributes(result_named_tuple) for result_named_tuple in geodata_json]

category = [i[0] for i in geodata]
subcategory = [i[1] for i in geodata]
importance = [i[2] for i in geodata]
longitude = [i[3] for i in geodata]
latitude = [i[4] for i in geodata]

In [10]:
print geodata

[(nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (u'highway', u'secondary', 0.61, 0.0233915, 51.5539018), (u'highway', u'residential', 0.51, 0.017585, 51.5569088), (u'highway', u'residential', 0.5199999999999999, -0.110912, 51.4785331), (u'highway', u'residential', 0.51, -0.3132106, 51.4936125), (u'highway', u'residential', 0.61, -0.1197986, 51.4176125), (u'highway', u'residential', 0.61, -0.0974695, 51.5894258), (u'highway', u'residential', 0.51, -0.3059546, 51.4947089), (nan, nan, nan, nan, nan), (u'highway', u'primary', 0.6199999999999999, -0.0699216, 51.5462797), (u'highway', u'residential', 0.61, -0.0846013, 51.633648), (u'highway', u'residential', 0.41000000000000003, 0.0153564, 51.5948356), (u'place', u'house', 0.5209999999999999, -0.17676975, 51.48630785), (u'shop', u'convenience', 0.42099999999999993, -0.1621619, 51.352929), (u'highway', u'secondary', 0.71, -0.1991401, 51.4810658), (u'highway', u'residential', 0.51, -0.2609926, 51.4991882), (u'highway', u'tertiary', 0.51, 0.0567287, 51.4635317), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.51, -0.1932932, 51.5741202), (u'highway', u'uncategoryified', 0.51, -0.237102, 51.5641837), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.51, -0.0426623, 51.4280203), (u'building', u'yes', 0.621, -0.220749544778481, 51.53346945), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.51, -0.1958482, 51.5509169), (u'highway', u'residential', 0.72, 0.0340419, 51.5974888), (u'highway', u'primary', 0.61, -0.2002992, 51.4727014), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (u'place', u'house', 0.411, -72.0913489704858, 41.6153771584201), (u'highway', u'residential', 0.71, -0.1322814, 51.6377252), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.71, -0.2454261, 51.6196727), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.71, -0.2114858, 51.5959511), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.61, -0.2998527, 51.5284927), (nan, nan, nan, nan, nan), (u'highway', u'tertiary', 0.51, -0.1377436, 51.4863638), (nan, nan, nan, nan, nan), (u'building', u'yes', 0.621, -0.225845161307316, 51.5319981), (nan, nan, nan, nan, nan), (u'highway', u'residential', 0.5199999999999999, -0.3142334, 51.5174217), (u'highway', u'residential', 0.61, -0.073615, 51.4055955)]

In [11]:
# We construct our dataset.
variables = [addr, pxs, flat_type, lease_type, build_status, category, subcategory, importance, longitude, latitude]
series_names = ["addresses",
                "prices",
                "flat_type",
                "lease_type",
                "build_status",
                "category",
                "subcategory",
                "importance",
                "longitude",
                "latitude"]

if len(pxs) == sum([len(dataseries) for dataseries in variables])/len(variables): # Check all series are the same length.
    dataset = {series_name : series for series_name, series in zip(series_names, variables)} # Setup dictionary for dataframe.

In [12]:
# Beware some erroneous lon-lat data due to multiple search results and improper parsing of JSON response.
# NB: ignore the above, this was fixed. Now have to find a way of removing bad search data, say data 1SD away from mean lat lon.

dataset_frame = pd.DataFrame(dataset)
dataset_frame

,addresses,build_status,category,flat_type,importance,latitude,lease_type,longitude,prices,subcategory
0,"Flat 14 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,517275.0,NaN
1,"Flat 26 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,527175.0,NaN
2,"91 Dames Road, London, E7 0DW",Non-Newbuild,highway,Terraced,0.610,51.553902,Freehold,0.023391,420000.0,secondary
3,"82 Ramsay Road, London, E7 9EW",Non-Newbuild,highway,Terraced,0.510,51.556909,Freehold,0.017585,420000.0,residential
4,"21 Mandela Street, London, SW9 6EL",Non-Newbuild,highway,Terraced,0.520,51.478533,Freehold,-0.110912,560000.0,residential
5,"115 Murray Road, London, W5 4DB",Non-Newbuild,highway,Terraced,0.510,51.493612,Leasehold,-0.313211,495000.0,residential
6,"55 Briar Avenue, London, SW16 3AB",Non-Newbuild,highway,Semi Detached,0.610,51.417612,Freehold,-0.119799,535000.0,residential
7,"26 Carlingford Road, London, N15 3EH",Non-Newbuild,highway,Terraced,0.610,51.589426,Freehold,-0.097470,500000.0,residential
8,"30 Darwin Road, London, W5 4BD",Non-Newbuild,highway,Terraced,0.510,51.494709,Freehold,-0.305955,820000.0,residential
9,"Flat 5 Peace Court, 8 Swynford Gardens, London...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,260000.0,NaN
10,"Flat 2 59 Dalston Lane, London, E8 2NG",Non-Newbuild,highway,Flat,0.620,51.546280,Leasehold,-0.069922,795000.0,primary
11,"5 Griffins Close, London, N21 2EW",Non-Newbuild,highway,Detached,0.610,51.633648,Freehold,-0.084601,920000.0,residential
12,"56 Chatham Road, Walthamstow, London, E17 6EU",Non-Newbuild,highway,Terraced,0.410,51.594836,Freehold,0.015356,660000.0,residential
13,"42 Elm Park Road, London, N3 1EB",Non-Newbuild,place,Terraced,0.521,51.486308,Freehold,-0.176770,1112500.0,house
14,"47 Stanley Road, London, SW14 7EB",Non-Newbuild,shop,Terraced,0.421,51.352929,Freehold,-0.162162,650000.0,convenience
15,"354a North End Road, London, SW6 1LY",Non-Newbuild,highway,Flat,0.710,51.481066,Leasehold,-0.199140,500000.0,secondary
16,"137 Rusthall Avenue, London, W4 1BL",Non-Newbuild,highway,Terraced,0.510,51.499188,Freehold,-0.260993,1260000.0,residential
17,"193 Grangehill Road, London, SE9 1SR",Non-Newbuild,highway,Terraced,0.510,51.463532,Freehold,0.056729,525000.0,tertiary
18,"Flat 15 9 Devonhurst Place, London, W4 4JB",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,785000.0,NaN
19,"9 Rotherwick Road, London, NW11 7DG",Non-Newbuild,highway,Semi Detached,0.510,51.574120,Freehold,-0.193293,1510000.0,residential
20,"40 Paddock Road, London, NW2 7DL",Non-Newbuild,highway,Semi Detached,0.510,51.564184,Freehold,-0.237102,630000.0,uncategoryified
21,"Flat 17 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,381000.0,NaN
22,"33 Highclere Street, London, SE26 4EX",Non-Newbuild,highway,Terraced,0.510,51.428020,Freehold,-0.042662,410000.0,residential
23,"34 Linden Avenue, London, NW10 5RL",Non-Newbuild,building,Semi Detached,0.621,51.533469,Freehold,-0.220750,1225000.0,yes
24,"Flat 16 Buchanan House, 7 Troubridge Square, L...",Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,376000.0,NaN
25,"37 Narcissus Road, London, NW6 1TL",Non-Newbuild,highway,Terraced,0.510,51.550917,Freehold,-0.195848,1475000.0,residential
26,"22 Gordon Road, South Woodford, London, E18 1DN",Non-Newbuild,highway,Semi Detached,0.720,51.597489,Freehold,0.034042,580000.0,residential
27,"239 New Kings Road, London, SW6 4XG",Non-Newbuild,highway,Terraced,0.610,51.472701,Freehold,-0.200299,2531630.0,primary
28,"Flat 9 59 Christchurch Hill, London, NW3 1JJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,486520.0,NaN
29,"29 Woodville Road, Walthamstow, London, E17 7ER",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,560000.0,NaN
30,"Flat 19 St George's Court, 83 - 89 St Georges ...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,740000.0,NaN
31,"83 Ridge Road, London, N21 3EL",Non-Newbuild,place,Semi Detached,0.411,41.615377,Freehold,-72.091349,650000.0,house
32,"16 Old Farm Avenue, London, N14 5QP",Non-Newbuild,highway,Terraced,0.710,51.637725,Freehold,-0.132281,900000.0,residential
33,"Flat 801 Michigan Building, 2 Biscayne Avenue,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,391000.0,NaN
34,"Flat 2 Regis Court Melcombe Place, London, NW1...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,650000.0,NaN
35,"Flat 61 Ability Place, 37 Millharbour, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,428500.0,NaN
36,"47 Uphill Grove, Mill Hill, London, NW7 4NH",Non-Newbuild,highway,Detached,0.710,51.619673,Freehold,-0.245426,950000.0,residential
37,"5 Overton Drive, London, E11 2NN",Non-Newbuild,NaN,Terraced,NaN,NaN,Freehold,NaN,1005000.0,NaN
38,"Ground Floor Front Flat 10 Linden Gardens, Lon...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,725000.0,NaN
39,"Flat 253 Manhattan Building Fairfield Road, Lo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,310000.0,NaN
40,"17 Holders Hill Drive, London, NW4 1NL",Non-Newbuild,highway,Semi Detached,0.710,51.595951,Freehold,-0.211486,770000.0,residential
41,"Flat 3 Blake Court, 1 Newsholme Drive, London,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,600000.0,NaN
42,"21 Lynwood Road, London, W5 1JQ",Non-Newbuild,highway,Terraced,0.610,51.528493,Freehold,-0.299853,910000.0,residential
43,"Flat 11 Downham Wharf, 28 Hertford Road, Londo...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,490000.0,NaN
44,"19d Claverton Street, London, SW1V 3AY",Non-Newbuild,highway,Flat,0.510,51.486364,Leasehold,-0.137744,480000.0,tertiary
45,"Flat 23a Wetherby Mansions Earls Court Square,...",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,850000.0,NaN
46,"47 College Road, London, NW10 5EL",Non-Newbuild,building,Terraced,0.621,51.531998,Freehold,-0.225845,990000.0,yes
47,"Flat 13 Witham Court Thant Close, London, E10 5PJ",Non-Newbuild,NaN,Flat,NaN,NaN,Leasehold,NaN,230000.0,NaN
48,"25 Amherst Avenue, London, W13 8NQ",Non-Newbuild,highway,Semi Detached,0.520,51.517422,Freehold,-0.314233,1726000.0,residential
49,"Flat 5 8 Warminster Road, London, SE25 4DZ",Non-Newbuild,highway,Flat,0.610,51.405595,Leasehold,-0.073615,125000.0,residential

In [13]:
# We use this cell to check errneous data entries.
check = 31
print "https://nominatim.openstreetmap.org/search?q=\"{}\"&format=json".format(dataset_frame.addresses[check].replace(" ", "%20"))
print dataset_frame.latitude[check], dataset_frame.longitude[check]

https://nominatim.openstreetmap.org/search?q="83%20Ridge%20Road,%20London,%20N21%203EL"&format=json
41.6153771584 -72.0913489705